/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 25, 2015, 11:06:26 PM
    Author     : sonjoy
*/
body{
    background: #16a085;
}
h1{
    text-transform: uppercase;
}
.bg{
    min-height: 600px;
    color: #ffffff;
}
.upper{
    margin-top: 100px;
}
table{
    background: #ffffff;
}
.add{
    margin-bottom: 10px;
}
.m_top_30{
    margin-top: 30px;
}
.footer h6{
    padding: 10px 0;
}
